

.ribbon-wrapper {
    width: 165px;
    height: 155px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}
    .ribbon

{
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    right: -30px;
    width: 170px;
    background-color: #ebb134;
    color: #fff;
}




/*input[type="text"] {
    width: 300px;
    height: 50px;
    border-radius: 12px;
    padding: 20px;
}

input[type="number"] {
    width: 300px;
    height: 50px;
    border-radius: 12px;
    padding: 20px;
}

input[type="datetime"] {
    width: 400px;
    height: 50px;
    border-radius: 12px;
    padding: 20px;
}
input[type="file"] {
    width: 400px;
    height: 50px;
    border-radius: 12px;
    padding: 20px;
}
input[type="submit"] {*/
   /* width: 300px;
    height: 50px;
    border-radius: 10px;*/
/*}*/

label{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size:larger;

}

.uploadOrdersDiv
{
    position:relative;
    left:300px;
    top:50px;

}

.FormMaindiv .uploadOrdersDiv {
    background-color: cornflowerblue;
    position: relative;
    left: 300px;
    width: auto;
}

.CreateForm
{
    margin:50px;
    text-align:left;
}

h2{

    margin:auto;
}
th{
    width:200px;
}
td{
    width:200px
}
